/*
 MarinDeck CSS
 thanks @hakunagi
 */

* {
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0 0 0/0) !important
}

.app-columns-container {
    scroll-snap-type: x mandatory !important
}

.column {
    scroll-snap-align: start !important;
    scroll-snap-stop: always !important
}

html {
    overflow: hidden !important;
    overscroll-behavior-y: none !important
}

.compose>footer.pin-bottom-full-width,
.join-team,
.js-column-size,
.js-font-size,
.js-team-invitations-container,
.js-theme,
.mdl-links,
.med-flaglink,
.med-origlink,
.tooltip {
    display: none !important
}

.js-media-native-video,
.prf-header,
.prf-header-inner-overlay,
.social-proof-container {
    width: 100% !important
}

.mdl.width--523,
html.dark .mdl.width--523 {
    width: 100vw !important
}

.margin-vm {
    margin: 0 !important
}

.app-content,
body>div.application.js-app.is-condensed>div.js-app-content.app-content {
    left: 0 !important
}

body .touch-device .margin-vm,
html .margin-v--20:not(.icon) {
    margin: 0 auto !important
}

.mdl,
html.dark .mdl {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    border-radius: 0 !important
}

.mdl:not(.s-fluid):not(.s-fluid-height):not(.s-short),
html.dark .mdl:not(.s-fluid):not(.s-fluid-height):not(.s-short) {
    height: auto !important
}

#open-modal .mdl:not(.s-fluid):not(.s-fluid-height):not(.s-short),
html.dark #open-modal .mdl:not(.s-fluid):not(.s-fluid-height):not(.s-short) {
    height: 100vh !important
}

.mdl-inner>.horizontal-flow-container {
    white-space: normal !important
}

.mdl-column-sml {
    box-shadow: 0 4px 20px rgba(0 0 0/7%);
    width: 100% !important;
    height: 38px !important
}

.mdl-column-sml .l-column-scrollv {
    overflow-y: hidden !important
}

.mdl-column-lrg {
    width: 100% !important;
    height: 90% !important
}

.mdl-column-lrg>div {
    border: none !important
}

.js-setting-list {
    overflow: hidden !important;
    height: 38px !important
}

.js-setting-list>li {
    float: left !important;
    width: calc(100%/3) !important;
    height: 38px !important;
    text-align: center !important
}

.js-setting-list>li>a {
    padding: 11px 0 !important
}

.control-group>.cf>.obj-left {
    width: calc(100%/2) !important;
    margin: 0
}

.column-header {
    box-shadow: 0 4px 20px rgba(0 0 0/7%);
    z-index: 100 !important;
    border: none !important
}

.sprite.sprite-drag-vertical {
    background-image: none !important;
    pointer-events: none !important
}

#container>div>section:last-child {
    margin-right: 0
}

header {
    user-select: none !important
}

.app-content.is-open {
    transform: translateX(100vw) !important
}

.drawer {
    width: 100vw !important;
    left: -100vw !important
}

.js-right-column {
    overflow-x: hidden
}

.column-header-temp {
    z-index: 200;
    box-shadow: 0 4px 20px rgba(0 0 0/7%);
    border-bottom: none !important
}

.med-tweet {
    left: 0 !important;
    right: 0 !important;
    bottom: 5px !important;
    width: 100vw
}

.s-full {
    height: auto !important
}

.pin-all.app-header {
    left: -100vw !important
}

.js-popover-content {
    border-radius: 14px
}

.popover,
html.dark .popover {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    inset: 0 !important;
    display: block;
    margin: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    max-height: 100vh !important;
    border-radius: 0 !important;
    background-color: #fcfcfcaa !important;
    backdrop-filter: blur(12px) !important
}

.js-schedule-datepicker-holder>.popover,
html.dark .js-schedule-datepicker-holder>.popover {
    top: auto !important;
    right: auto !important;
    bottom: 0 !important;
    left: -100vw !important;
    inset: auto auto 0 -100vw !important;
    width: calc(100vw - 8vw) !important;
    height: auto !important;
    max-height: calc(100vh - 8vh) !important;
    margin: 4vh 4vw !important;
    padding: 8px 16px calc(8px + 40px) !important;
    border-radius: 14px !important;
    box-sizing: border-box !important;
    overflow-y: auto !important
}

@media (min-width:512px) {

    .js-schedule-datepicker-holder>.popover,
    html.dark .js-schedule-datepicker-holder>.popover {
        width: 512px !important;
        margin: 4vh calc((100vw - 512px)/ 2) !important
    }
}

.js-schedule-datepicker-holder>.popover>.caret,
html.dark .js-schedule-datepicker-holder>.popover>.caret {
    display: none !important
}

#calroot,
html.dark #calroot {
    width: 100% !important;
    padding: 0 !important
}

#calbody,
#caltoday,
#calweeks,
a.caldisabled,
html.dark #calbody,
html.dark #caltoday,
html.dark #calweeks,
html.dark a.caldisabled {
    background-color: rgb(0 0 0/0) !important
}

#caldays,
.calweek,
html.dark #caldays,
html.dark .calweek {
    display: grid !important;
    grid-auto-columns: 1fr !important;
    grid-auto-flow: column !important;
    gap: 4px !important;
    height: auto !important;
    padding: 2px !important;
    border: 0 !important
}

#caldays span,
html.dark #caldays span {
    font-weight: 700 !important
}

#caldays span,
.calweek a,
html.dark #caldays span,
html.dark .calweek a {
    float: none !important;
    display: block !important;
    width: auto !important;
    height: 1.6rem !important;
    line-height: 1.6rem !important;
    font-size: .8rem !important;
    margin: 0 !important
}

#caltoday,
html.dark #caltoday {
    color: #444
}

.cal>header,
html.dark .cal>header {
    position: absolute !important;
    bottom: 8px !important;
    left: 16px !important
}

.cal+.padding-as,
html.dark .cal+.padding-as {
    position: absolute !important;
    bottom: 8px !important;
    right: 16px !important
}

.cal .nav-group,
html.dark .cal .nav-group {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    top: 0 !important;
    right: 0 !important
}

#calhead,
html.dark #calhead {
    padding: 8px !important;
    text-align: center !important
}

.recent-searches-fixed-list>.list-item>.icon-close {
    padding: 10px !important;
    top: 50% !important;
    line-height: 14px !important
}

.compose-message-recipient-input-container.is-focused,
.rpl textarea,
.rpl textarea:focus,
input:focus {
    box-shadow: none !important
}

.is-narrow-columns .app-columns {
    padding-left: 0 !important
}

.link-complex:hover {
    text-decoration: none !important
}

.social-proof-names {
    width: -webkit-fill-available !important
}

.tweet-footer>ul {
    display: flex;
    justify-content: space-between
}

.tweet-footer>ul>li {
    margin: 0 10px 0 0 !important
}

.tweet-footer>ul>li.tweet-drag-handle {
    display: none !important
}

.med-fullpanel {
    background-color: #14171a77 !important
}

.prf-header {
    background-position: center
}

.med-embeditem {
    top: 0 !important
}

.med-tray {
    padding-bottom: 20px
}

.media-img {
    max-width: 100% !important
}

body .mdl-media-next,
body .mdl-media-prev {
    background: 0 0
}

.mdl.s-full {
    max-width: 100vw !important
}

.mdl-column-rhs {
    width: calc(100% - 260px) !important
}

@media (orientation:portrait) {
    .mdl-column-rhs {
        border-left: none !important;
        width: 100% !important
    }

    .mdl-inner>.horizontal-flow-container {
        white-space: normal !important
    }

    .mdl-column-med {
        width: auto !important;
        min-width: 100% !important;
        height: 0 !important;
        border-radius: 0 !important;
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        transition: height .5s
    }

    .mdl-column-rhs {
        border-left: none !important;
        width: 100% !important;
        height: 100% !important
    }

    .lst-group>.js-list-container {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)) !important;
        grid-auto-rows: 1fr !important;
        grid-gap: 0 !important
    }

    #container>div>section:nth-child(n) {
        width: 100vw
    }
}

[data-testid=trend]>.txt-right.width-p--9 {
    box-sizing: content-box !important
}

.tweet-translation-original-text {
    min-height: auto !important;
    color: inherit !important
}

.tweet-detail>.js-tweet-translation.in-tweet-divider {
    padding-top: 0 !important
}

.tweet-translation-attribution-text.txt-uppercase {
    text-transform: none !important
}

.js-column-options :not(input):not(select):not(textarea):not(button) {
    box-sizing: content-box !important
}

.js-modal-content {
    max-width: 100vw
}

.modal-content>.width--490 {
    width: 100vw !important
}

.prf-bio {
    display: inline-block !important;
    width: auto !important;
    max-width: 100% !important;
    white-space: pre-wrap !important;
    text-align: start !important;
    margin: 0 auto !important;
    padding-bottom: 0 !important
}

.mdl-dismiss {
    padding: 6px !important;
    top: 0 !important;
    right: 0 !important;
    opacity: .7 !important
}

.mdl-dismiss:hover {
    opacity: 1 !important
}

.mdl-dismiss>i {
    color: #fff !important;
    background-color: #38444d !important;
    border-radius: 100% !important;
    padding: 4px !important;
    line-height: 16px !important;
    font-size: 20px !important;
    box-sizing: content-box !important
}

.lst-launcher {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
    grid-auto-rows: 1fr !important;
    grid-gap: 10px !important;
    max-width: 512px !important;
    margin: 0 auto !important;
    padding: 8px !important
}

.lst-launcher::after,
.lst-launcher::before {
    content: none !important
}

.lst-launcher li {
    float: none !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important
}

.lst-launcher li a {
    width: 100% !important
}

.lst-launcher .btn .Icon,
.lst-launcher .btn .icon {
    margin-top: 0 !important;
    padding-top: 7px !important
}

@media (max-width:365px) {
    .lst-launcher {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)) !important;
        padding: 4px !important
    }

    .lst-launcher .btn .Icon,
    .lst-launcher .btn .icon {
        font-size: 36px !important
    }
}

.emoji[src=''] {
    display: none !important
}

.tweet-detail .txt-mute>a[href$='#source-labels'] {
    display: inline-block !important
}

.numbered-badge {
    box-sizing: content-box !important
}

.js-scheduler .popover :not(input):not(button) {
    box-sizing: content-box !important
}

.compose-text-container>.txt-right {
    position: absolute !important;
    right: 10px !important;
    bottom: 10px !important;
    margin: 0 !important;
    pointer-events: none !important
}

.Layer.NotificationListLayer {
    width: 100% !important
}

.NotificationList {
    max-width: calc(100% - 12px) !important;
    right: 6px !important;
    top: 6px !important
}

.Notification-inner {
    margin-bottom: 6px !important
}

.Icon,
.icon {
    box-sizing: content-box !important
}

.mdl-header-title {
    display: none !important
}

.mdl-header {
    min-height: 0 !important;
    padding: 0 !important;
    border: 0 !important
}

.mdl-inner {
    top: 0 !important
}



/* プロフィール */
/*.s-profile .prf-header {*/
/*    text-align: left;*/
/*    height: 132px !important;*/
/*    min-height: 0;*/
/*}*/
/*.s-profile .prf-img {*/
/*    display: inline;*/
/*}*/
/*.s-profile .prf-img img {*/
/*    margin-top: 82px !important;*/
/*    width: 64px;*/
/*    height: 64px;*/
/*}*/
/**/
/*.s-profile .fullname {*/
/*    font-size: 18px!important;*/
/*    margin-top: -12px;*/
/*    color: #38444d;*/
/*    text-shadow: none;*/
/*}*/
/*.s-profile .username {*/
/*    font-size: 13px!important;*/
/*    color: #3d5466;*/
/*    text-shadow: none;*/
/*    height: 13px;*/
/*    margin-top: -8px;*/
/*}*/
/*.s-profile .prf-bio {*/
/*    margin-top: 10px!important;*/
/*    color: #38444d;*/
/*    text-shadow: none;*/
/*}*/
/*.s-profile .js-show-tip {*/
/*    color: #38444d;*/
/*    text-shadow: none;*/
/*}*/
/*.s-profile .margin-a-auto {*/
/*    margin: 0 16px;*/
/*}*/
/*.s-profile .prf-actions {*/
/*    margin-top: 92px !important;*/
/*}*/

/*.mdl-column-med {*/
/*    height: 200px!important;*/
/*}*/

.mdl-inner {
    padding: 0 0 16px 0 !important;
}

.mdl-buttonbar {
    padding: 6px 32px;
}

/* FIXME: 多分どこかでバグる。 */
.mdl .width--300 {
    width: auto !important;
}

.js-add-image-button,
.js-scheduler,
.js-reply-add-image {
    display: none !important;
}

/* ツイートはコピーできるようにする */
.tweet-text {
    -webkit-user-select: text;
    user-select: unset;
}

/* モーダル関連 */
.is-touch-modal .mdl-dismiss {
    padding: 15px !important;
}

.mdl-buttonbar {
    padding-inline: 32px !important;
    margin-bottom: calc(24px + env(safe-area-inset-bottom)) !important;
}
